.features {
  text-align: center;
  padding: 3em 0;
}

.tabs {
  &__link {
    padding: 1em 0;
    border-bottom: 1px solid var(--grayishBlue);
    color: var(--grayishBlue);
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: var(--softRed);
    }
    &.active {
      position: relative;
      color: var(--veryDarkBlue);
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        border: 2px solid var(--softRed);
        width: 150px;
      }
    }
  }
  &__grid {
    margin-top: 4em;
  }
  &__item {
    display: none;
    &.active {
      display: block;
    }

    img {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .features {
    .wrapper > .u-p {
      width: 475px;
      margin: 0 auto;
    }
  }

  .tabs {
    margin-top: 4em;

    ul {
      display: flex;
      justify-content: center;
    }

    &__link {
      padding: 2em;
      &.active {
        &::before {
          width: 100%;
          bottom: -1px;
        }
      }
    }

    &__item {
      display: none;
      flex-direction: row;
      align-items: center;
      &.active {
        display: flex;
      }

      img {
        margin-right: 5em;
      }

      & > div {
        width: auto;
        text-align: left;
      }
    }
  }
}
