.footer {
  background: var(--veryDarkBlue);
  text-align: center;
  padding: 2em 0;

  ul {
    color: white;
    text-transform: uppercase;
    margin: 2em 0;

    li {
      line-height: 3;
      letter-spacing: 3px;
      font-size: 0.9em;
    }
  }

  &__socials {
    a {
      display: inline-block;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__primary {
      display: flex;
      align-items: center;
      img {
        margin-right: 2em;
      }

      ul {
        margin: 0;
        display: flex;
        li {
          line-height: 1;
          a {
            color: white;
            text-decoration: none;
            padding: 2em;
            transition: 0.3s all ease-in-out;

            &:hover {
              color: var(--softRed);
            }
          }
        }
      }
    }
  }
}
