.header {
  background: white;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 1;
  &__logo {
    display: inline-flex;
    width: 150px;
    height: 40px;
    background: url("../../static/images/logo-bookmark.svg") no-repeat center
      center;
    background-size: contain;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47, 53, 79, 0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    border-top: 1px solid var(--grayishBlue);
    &:last-child {
      a {
        border: 2px solid white;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.5em;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
  }
  &__checkbox {
    display: none;
    &:checked {
      & ~ .header {
        background: rgba(47, 53, 79, 0.9);
        & .menu__open {
          background-image: url("../../static/images/icon-close.svg");
        }
        & .header__logo {
          background-image: url("../../static/images/logo-bookmark-white.svg");
        }
        & .menu {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
  &__open {
    user-select: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    cursor: pointer;
    background: url("../../static/images/icon-hamburger.svg") no-repeat center
      center;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1.5em 0;
  }
  .menu {
    position: initial;
    visibility: visible;
    opacity: 1;
    height: auto;
    background: initial;
    transform: translateY(0);

    &__open {
      display: none;
    }

    ul {
      display: flex;
      margin: 0;
    }

    li {
      border: 0;
      &:last-child {
        a {
          margin-top: 0;
          padding: 1em 2em;
          background: var(--softRed);
          color: white;
          font-size: 0.9em;
          font-weight: 500;
          border-radius: 5px;
          border: 2px solid var(--softRed);
          cursor: pointer;
          margin-left: 2em;
          transition: 0.3s all ease-in-out;

          &:hover {
            color: var(--softRed);
            background: white;
            border: 2px solid var(--softRed);
            box-shadow: 0 5px 10px -7px var(--softBlue);
          }
        }
      }
    }

    a {
      color: var(--veryDarkBlue);
      font-size: 0.9em;
      transition: 0.3s all ease-in-out;
      &:hover {
        color: var(--softRed);
      }
    }
  }
}
