@import "header.scss";
@import "hero.scss";

:root {
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);

  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: var(--veryDarkBlue);
  font-size: 18px;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
