.header {
  background: white;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 1;
}
.header__logo {
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url("../../static/images/logo-bookmark.svg") no-repeat center center;
  background-size: contain;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47, 53, 79, 0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.5em;
}
.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .header {
  background: rgba(47, 53, 79, 0.9);
}
.menu__checkbox:checked ~ .header .menu__open {
  background-image: url("../../static/images/icon-close.svg");
}
.menu__checkbox:checked ~ .header .header__logo {
  background-image: url("../../static/images/logo-bookmark-white.svg");
}
.menu__checkbox:checked ~ .header .menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.menu__open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../../static/images/icon-hamburger.svg") no-repeat center center;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1.5em 0;
  }

  .menu {
    position: initial;
    visibility: visible;
    opacity: 1;
    height: auto;
    background: initial;
    transform: translateY(0);
  }
  .menu__open {
    display: none;
  }
  .menu ul {
    display: flex;
    margin: 0;
  }
  .menu li {
    border: 0;
  }
  .menu li:last-child a {
    margin-top: 0;
    padding: 1em 2em;
    background: var(--softRed);
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--softRed);
    cursor: pointer;
    margin-left: 2em;
    transition: 0.3s all ease-in-out;
  }
  .menu li:last-child a:hover {
    color: var(--softRed);
    background: white;
    border: 2px solid var(--softRed);
    box-shadow: 0 5px 10px -7px var(--softBlue);
  }
  .menu a {
    color: var(--veryDarkBlue);
    font-size: 0.9em;
    transition: 0.3s all ease-in-out;
  }
  .menu a:hover {
    color: var(--softRed);
  }
}
.hero {
  text-align: center;
  padding: 3em 0;
}
.hero__image {
  max-width: 100%;
}
.hero__buttons {
  padding-top: 1em;
}

.features {
  text-align: center;
  padding: 2em 0;
}

.tabs__link {
  padding: 1em 0;
  border-bottom: 1px solid var(--grayishBlue);
  color: var(--grayishBlue);
  font-weight: 400;
}
.tabs__link.active {
  position: relative;
  color: var(--veryDarkBlue);
}
.tabs__link.active::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border: 2px solid var(--softRed);
  width: 150px;
}
.tabs__grid {
  margin-top: 4em;
}
.tabs__item {
  display: none;
}
.tabs__item.active {
  display: block;
}
.tabs__item img {
  max-width: 100%;
}

.download {
  text-align: center;
  padding: 2em 0;
}
.download__grid {
  margin: 0 1em;
  margin-top: 4em;
}
.download__item {
  padding: 3em 1.5em 1.5em;
  box-shadow: 0 10px 20px -5px rgba(83, 104, 223, 0.3);
  margin-bottom: 2em;
  background: url("../../static/images/bg-dots.svg") no-repeat center bottom 105px;
  background-size: contain;
}
.download__item .u-h3 {
  margin-top: 1.5em;
  margin-bottom: 0.4em;
}
.download__item .u-p {
  margin-top: 0;
  margin-bottom: 4em;
}

.faq {
  text-align: center;
  padding: 2em 0;
}
.faq__grid {
  margin: 3em 0;
}
.faq__item {
  text-align: left;
  margin-bottom: 0.8em;
}
.faq summary {
  background: url("../../static/images/icon-arrow.svg") no-repeat center right;
  border-bottom: 1px solid #dfdfdf;
  padding: 1em 0;
  font-size: 0.9em;
}
.faq summary .u-p {
  color: var(--veryDarkBlue);
  padding: 1em 0;
  margin: 0;
}
.faq summary::-webkit-details-marker {
  display: none;
}
.faq summary:focus {
  outline: none;
}
.faq details[open] summary {
  background-image: url("../../static/images/icon-arrow-red.svg");
  border: none;
}
.faq__answer {
  display: none;
}

.contact {
  text-align: center;
  padding: 3em 0;
  background: var(--softBlue);
  color: white;
}
.contact .u-p {
  letter-spacing: 5px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}
.contact form {
  max-width: 450px;
  margin: auto;
}

.footer {
  background: var(--veryDarkBlue);
  text-align: center;
  padding: 2em 0;
}
.footer ul {
  color: white;
  text-transform: uppercase;
  margin: 2em 0;
}
.footer ul li {
  line-height: 3;
  letter-spacing: 3px;
  font-size: 0.9em;
}
.footer__socials a {
  display: inline-block;
}
.footer__socials a:first-child {
  margin-right: 30px;
}

:root {
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
  --lightGray: #f7f7f7;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: var(--veryDarkBlue);
  font-size: 18px;
}

ul {
  padding: 0;
  list-style: none;
}

.is-hidden {
  display: none !important;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}

.u-h1, .u-h4, .u-h2 {
  font-size: 2em;
  font-weight: 500;
}

.u-h2 {
  font-size: 1.5em;
}

.u-h3 {
  font-weight: 500;
}

.u-h4 {
  font-size: 1.3em;
}

.u-p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}

.u-button {
  background: var(--softBlue);
  color: white;
  padding: 1em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  margin-left: 0.5em;
  box-shadow: 0 5px 10px -5px var(--softBlue);
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-gray {
  color: var(--veryDarkBlue);
  background: var(--lightGray);
}
.u-button.is-fullwidth {
  width: 100%;
}
.u-button.is-red {
  background: var(--softRed);
}

.u-input {
  width: 100%;
  padding: 1em;
  display: block;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 1.2em;
  font-size: 0.9em;
}
.u-input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: var(--grayishBlue);
}

/*# sourceMappingURL=styles.css.map */
